{% extends "Pacientes/plantilla_paciente.html" %}

{% block body %}
    <div class="container mt-5">
        <h1 class="mb-4">Editar Paciente</h1>
        
        <form method="POST" class="bg-dark p-4 rounded shadow-lg">
            <div class="mb-3">
                <label for="nombre" class="form-label">Nombre:</label>
                <input type="text" name="nombre" class="form-control" value="{{ paciente[1] }}" required>
            </div>
            
            <div class="mb-3">
                <label for="apellido" class="form-label">Apellido:</label>
                <input type="text" name="apellido" class="form-control" value="{{ paciente[2] }}" required>
            </div>
            
            <div class="mb-3">
                <label for="fecha_nacimiento" class="form-label">Fecha de Nacimiento:</label>
                <input type="date" name="fecha_nacimiento" class="form-control" value="{{ paciente[3] }}" required>
            </div>
            
            <div class="mb-3">
                <label for="telefono" class="form-label">Teléfono:</label>
                <input type="text" name="telefono" class="form-control" value="{{ paciente[4] }}" required>
            </div>
            
            <div class="mb-3">
                <input type="submit" value="Actualizar" class="btn btn-success">
            </div>
        </form>
        
        <a href="{{ url_for('listar_pacientes') }}" class="btn btn-secondary mt-3">Cancelar</a>
    </div>
{% endblock %}
